{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "plugins": [
    "dollar-sign"
  ],
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "dollar-sign/dollar-sign": [2, "ignoreProperties"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-unused-vars": 1,
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle":  ["error", { "allow": ["_embedded"] }]
  }
}
