---
title: Tecman - Услуги

footer_text: Великие дела <br> в бизнесе <br> делаются <span>только <br> командой</span> людей

footer_text_class: small 

author: Стив Джобс

---

<!-- default - Большой текст -->
<!-- small - Маленький текст -->


{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}

    <main class="main">
		
        <section class="about-main">
            <div class="container">
                <div class="about-main__lable">Привет, мы это:</div>
                <div class="about-main__title">
                    <h1>Технологии <br> Иновации <br> Опыт</h1>
                    <img src="./img/smile.png" alt="">
                </div>
                <p>Мы разрабатываем современные программы учета, порталы и мобильные приложения, отвечающие потребностям наших клиентов. Решаем сложные, исследовательские, узкоспециализированные, наукоемкие задачи. Решаем проблемы клиентов не только с функциональной точки зрения, но и эстетической, помогаем улучшить качество продукта, делаем продукт удобным и простым в использовании. Мы  ❤️  свою работу, поэтому делаем ее хорошо! </p>
                <div class="about-main__wrapper">
                    <div class="about-main__item">
                        <div class="about-main__item-top">
                            <div>292</div>
                            <p><span>завершенных</span> проекта</p>
                        </div>
                        <p>от простых решений до сложных сервисов и работы с железом.</p>
                    </div>
                    <div class="about-main__item">
                        <div class="about-main__item-top">
                            <div>52</div>
                            <p>сотрудника  <span>в штате</span></p>
                        </div>
                        <p>и более 50 проверенных <br> десятилетиями подрядчиков для <br> специфичных технологий и <br> устаревших языков.</p>
                    </div>
                    <div class="about-main__item">
                        <div class="about-main__item-top">
                            <div>3</div>
                            <p>офиса <span>по миру</span></p>
                        </div>
                        <p>Москва, Ярославль, Калининград. Представители для личной встречи в Испании, Германии, Украине, <br> Польше.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-banner">
            <img src="./img/about-banner.jpg" alt="">
        </section>
        <section class="partners">
            <div class="partners__title">Среди наших клиентов</div>
			<div class="container">
				<div class="partners__item">
					<img src="./img/part1.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part2.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part3.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part4.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part5.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part6.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part7.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part8.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part9.png" alt="">
				</div>
				<div class="partners__item">
					<img src="./img/part10.png" alt="">
				</div>
			</div>
		</section>
        <section class="section-inf">
            <div class="container">
                <div class="section-inf__info">
                    <div class="section-inf__title">
                        Мы объединяем <br> проверенные технологии, <br> инновации и искусство
                    </div>
                    <div class="section-inf__text">
                        <p>
                            Из небольшой компании мы превратились в лидирующую по основным направлениям деятельности. Нам удалось объединить людей с большим профессиональным опытом, ответственных и увлеченных своим делом. <br><br>
                            
                            Мы работали с первыми лицами государств, топ-менеджерами и собственниками крупнейших российских и зарубежных компаний. <br><br>

                            Проектировали и разрабатывали: утилиты, используемые миллионами пользователей в 40 странах мира; платежную систему для банка из топ-5 в России; аналог Shazam для Израиля; систему “умный дом” для новостройки в Ярославле; билетную систему для “Скайпарка”; приложение для НТВ; и десятки прочих проектов для клиентов по всему миру.
                        </p>
                    </div>
                </div>
                <div class="section-inf__img">
                    <img src="./img/section-info.png" alt="">
                </div>
            </div>
        </section>
        <section class="section-inf">
            <div class="container reverse">
                <div class="section-inf__info">
                    <div class="section-inf__title">
                        Мы тесно сотрудничаем <br>
                        с нашими клиентами, <br> руководствуясь опытом, <br> честностью и <br> преданностью делу
                    </div>
                    <div class="section-inf__text">
                        <p>
                            При проектировании систем особое внимание мы уделяем целям клиента и  потребностям его бизнеса. Мы стараемся учесть и просчитать все возможные ситуации, связанные с использованием продукта. Мы с успехом применяем технологии искусственного интеллекта и машинного обучения. <br><br>
                            
                            Мы убеждены, что помогаем клиентам стать ближе к людям за счет удобных сервисов и продуманных приложений. Наши продукты привлекают внимание и положительно влияют на восприятие бизнеса потребителями. Нам не все равно. Главная наша цель - качественный, современный и удобный для использования продукт.
                        </p>
                    </div>
                </div>
                <div class="section-inf__img">
                    <img src="./img/section-info2.png" alt="">
                </div>
            </div>
        </section>
        <section class="advantages">
            <div class="advantages__info">
                <div class="advantages__title">Наши достижения</div>
                <p>Какой-то текст о том, что победа это не главное. Главное, что мы делаем хорошие продукты и наши клиенты счастливы. Не большой. Какой-то текст о том, что победа это не главное. Какой-то текст о том, что победа это не главное.</p>
            </div>
            <div class="advantages__slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="./img/advantages1.svg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="./img/advantages2.svg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="./img/advantages3.svg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="./img/advantages4.svg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="./img/advantages1.svg" alt="">
                  </div>
                </div>
                <!-- Add a pagination element for the progress bar -->
                <div class="swiper-pagination"></div>
              </div>
        </section>
        <section class="about-descr">
            <div class="container">
                <div class="about-descr__img">
                    <img class="img1" src="./img/about11.png" alt="">
                    <img class="img2" src="./img/about22.png" alt="">
                    <img class="img3" src="./img/about33.png" alt="">
                </div>
            </div>
            <div class="container container-text">
                <div class="about-descr__title">Мы постоянно обучаемся, поэтому не стоим на месте. Обеспечиваем качество и контроль наших продуктов</div>
                <p>Высокая ответсвенность, заинтересованность в конечном результате - это то, что отличает нас от других. Поэтому мы максимально раскрываем наши возможности, уделяя должное внимание и время нашим клиентам.</p>
                <br>
                <p>Обеспечиваем высокий контроль и соблюдение сроков на всех этапах разработки. Проверяем и прорабатываем нестандартные ситуации. Внедряем инновации для максимальных результатов. Мы последовательны и всегда идем до конца.</p>
                <br>
                <p>У нас есть опыт, накопленный в результате работы над десятками успешных проектов, поэтому мы можем гарантировать отличный результат наших разработок.</p>
            </div>
        </section>
    </main>

	{% include "partials/_footer.html" %}

{% endblock %}
