---
title: Tecman - Статьи

footer_text: Великие дела <br> в бизнесе <br> делаются <span>только <br> командой</span> людей

footer_text_class: small 

author: Стив Джобс
---

<!-- default - Большой текст -->
<!-- small - Маленький текст -->


{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}

    <main class="main">
		
        <div class="articles">
            <div class="container">
                <h1 class="articles__title">Немного про разработку <br>
                    и не только</h1>
                <p>Здесь мы раскрываем темы о стоимости, о разработке, об ошибках, <br> о взаимодействии. Отвечаем на самые распространенные вопросы, возникающие по ходу ведения проектов.</p>
                <div class="articles__wrapper">
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles2.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles3.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles2.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles3.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles2.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles3.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles2.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                    <div class="articles__item">
                        <div class="articles__item-img">
                            <img src="./img/articles3.png" alt="">
                        </div>
                        <p>Сколько стоит сделать копию Facebook (Avito, Яндекс.Такси, fl.ru...)?</p>
                    </div>
                </div>
            </div>
        </div>

    </main>

	{% include "partials/_footer.html" %}

{% endblock %}
