.article-main{
    padding-top: 14.7rem;
    background: #fff;
    @media (max-width: 700px){
        padding-top: 8.4rem;
     }
}
.article{
    &.container{
        max-width: 105.6rem;
        @media (max-width: 962px){
            max-width: 100%;
            padding: 0 3.6rem !important;
        }
        @media (max-width: 700px){
            padding: 0 2.4rem !important;
         }
    }
    h1{
        font: 700 6.5rem / 1 $font-family;
        color: $body; 
        margin-bottom: 2.4rem; 
        @media (max-width: 962px){
            font: 700 4.2rem / 1.1 $font-family;
        }
        @media (max-width: 700px){
            font: 700 3.3rem / 1.1 $font-family;
         } 
    }
    h2{
        font: 700 5rem / 1.1 $font-family;
        color: $body;
        margin-bottom: 6.5rem;  
        @media (max-width: 962px){
            font: 700 3.3rem / 1.1 $font-family;
            margin-bottom: 3.2rem;
        }
        @media (max-width: 700px){
            font: 700 2.3rem / 1.1 $font-family;
            margin-bottom: 2.4rem;
         }  
    }
    h3{
        font: 700 3.3rem / 1.1 $font-family;
        color: $body;  
        margin-bottom: 3rem;
        @media (max-width: 962px){
            font: 600 2.8rem / 1.1 $font-family;
            margin-bottom: 2.4rem;
        }
        @media (max-width: 700px){
            font: 700 2rem / 1.2 $font-family;
            margin-bottom: 1.6rem;
         }   
    }
    h4{
        font: 700 2.3rem / 1.1 $font-family;
        color: $body;
        margin-bottom: 1.2rem;  
        @media (max-width: 700px){
            font: 600 1.6rem / 1.4 $font-family;
            margin-bottom: 0.5rem;
         }   
    }
    .block{
        margin-bottom: 9.5rem;
        @media (max-width: 962px){
            margin-bottom: 6rem;
        }
        @media (max-width: 700px){
            margin-bottom: 4rem;
        } 
    }
    .block-wrapper{
        margin-bottom: 18rem;
        @media (max-width: 962px){
            margin-bottom: 8rem;
        }
        @media (max-width: 700px){
            margin-bottom: 6rem;
        }  
    }
    .time{
    font: 400 1.6rem / 1.4 $font-family;
    color: $second-text;
      margin-bottom: 4rem;  
    }
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 7.6rem;
        @media (max-width: 962px){
            margin-bottom: 4rem;
        }
    }
    p{
        font: 400 2rem / 1.6 $font-family;
        color: $body; 
        @media (max-width: 700px){
            font: 400 1.6rem / 1.4 $font-family;
        }  
    }
    .list{
        p{
            margin-bottom: 4rem;
            @media (max-width: 700px){
               margin-bottom: 2rem;
            } 
            &.descr{
                margin-top: 3.7rem;
            }
        }
    }
    .contact{
        font: 600 2rem / 1.6 $font-family;
        color: $body;
        @media (max-width: 700px){
            font: 600 1.6rem / 1.4 $font-family;
        } 
        a{
            display: inline;
            color: $blue;
        }
    }
}