.projects-main{
    padding-top: 15rem;
    margin-bottom: 15rem;
    @media (max-width: 962px){
        margin-bottom: 7.5rem;
    }
    @media (max-width: 700px){
        padding-top: 20rem;
    }
    .container{
        position: relative;
        display: flex;
        gap: 7rem;
        @media (max-width: 962px){
            gap: 2.5rem;
            padding: 0 2.4rem;
        } 
    }
    svg{
        width: 44.7rem;
        height: 38rem;
        @media (max-width: 962px){
            width: 21.6rem;
            height: 18.4rem;
        }
        @media (max-width: 700px){
            display: none;
        }
    }
    .dec{
        cursor: pointer;
        top: -5rem;
        right: 20rem;
        position: absolute;
        @media (max-width: 962px){
            top:-7rem;
            right: 5rem;
        }
        @media (max-width: 700px){
            top: -9rem;
            right: 2.5rem;
            left: auto;
            svg{
                display: block;
            }
        }
        svg:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover{
            svg{
                &:nth-child(1){
                    opacity: 0;
                }
                &:nth-child(2){
                    opacity: 1;
                }
            }
            .text{
                transition: all 0.7s !important;
                transform: rotate(180deg);
            }
        }
      svg{
        transition: all 0.3s;
        width: 14.3rem;
        height: 14.3rem;
        @media (max-width: 962px){
            width: 11.2rem;
            height: 11.2rem;
        }
      }
      .text{
        transition-delay: 0.3s;
        transform-origin: center center;
      } 
    }
    &__info{
        width: 65rem;
        @media (max-width: 962px){
            width: 40rem;
        } 
        p{
            font: 400 2rem / 1.6 $font-family;
            color: $body;   
            @media (max-width: 962px){
                font: 400 1.6rem / 1.4 $font-family;
            } 
        }
    }
    &__title{
        font: 700 7.8rem / 1 $font-family;
        color: $body;   
        margin-bottom: 3.5rem;
        @media (max-width: 962px){
            font: 700 4.2rem / 1.1 $font-family;
            margin-bottom: 2.5rem;
        }
        @media (max-width: 700px){
            font: 700 3.3rem / 1.1 $font-family;
        }
    }
}

.projects{
    position: relative;
    &__tabs{
        display: flex;
        width: 91.5rem;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        gap: 1.2rem;
        @media (max-width: 962px){
            width: 63.2rem;
            margin-bottom: 6rem;
        }
        @media (max-width: 700px){
            width: 100%;
            overflow: auto;
            flex-wrap: nowrap;
            margin: 0;
            justify-content: flex-start;
            padding: 0 2rem;
            margin-bottom: 4rem;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        button{
            padding: 1.4rem 2rem;
            border-radius: 4rem;
            border: 0.2rem solid $input;
            font: 500 2rem / 1 $font-family;
            color: $body;
            transition: all 0.3s;
            @media (max-width: 962px){
                font: 500 1.6rem / 1.4 $font-family;
                padding: 0.6rem 1.6rem;
            }
            @media (max-width: 700px){
                white-space: nowrap;
            }
            &:hover{
                border-color: $body;
            }
            &.active{
                background: $body;
                border-color: $body;
                color: #fff;
            }
        }
    }
    &__decor1{
        position: absolute;
        top: 90rem;
        svg{
            width: 100%;
            height: 303.1rem;
            z-index: -1;
        }
    }
    &__decor2{
        position: absolute;
        top: 300rem;
        svg{
            width: 100%;
            height: 200.2rem;
            z-index: -1;
        } 
    }
    &__logo{
        position: absolute;
        top: -30rem;
        left: -5rem;
        @media (max-width: 962px){
            top: -15rem;
            left: -2rem;
        }
        @media (max-width: 700px){
            display: none;
        } 
        img{
            width: 30.5rem;
            height: 18.9rem;
            @media (max-width: 962px){
                width: 23.3rem;
                height: 14.4rem;
            }  
        }
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 50rem;
        @media (max-width: 962px){
            gap: 28rem;
        }
        @media (max-width: 700px){
            gap: 4.8rem;
        }
    }
    .solutions__wrapper{
        position: relative;
        z-index: 777;
        @media (max-width: 700px){
            gap: 4.8rem;
        }
    }
}


