<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__info">
                <div class="footer__roboot">
                    <img src="./img/robot1.gif" alt="">
                </div>
                <div class="footer__title {% if footer_text_class %}{{ footer_text_class }}{% else %}default{% endif %}">
                    {% if footer_text %}{{ footer_text | safe }}{% else %}Хорошие идеи <br> начинаются <span>с разговора</span>{% endif %}
                </div>
                <div class="author">{% if author %}{{ author | safe }}{% else %}Джон Айв{% endif %}</div>
                <button class="stroke-btn--green"><span>Оставить заявку</span></button>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-block">
                    <div class="footer__contacts-column">
                        <span>Звоните:</span>
                        <a href="tel:+7 (495) 798-48-08">+7 (495) 798-48-08</a>
                        <button class="stroke-btn--blue"><span>Позвонить</span></button>
                    </div>
                    <div class="footer__contacts-column">
                        <span>Пишите:</span>
                        <a href="mailto:tm@tecman.ru">tm@tecman.ru</a>
                    </div>
                </div>
                <div class="mobile-buttons">
                    <button class="stroke-btn--blue"><span>Позвонить</span></button>
                    <button class="stroke-btn--green"><span>Оставить заявку</span></button>
                </div>
                <div class="footer__contacts-offices">
                    <div class="footer__contacts-offices-title">Наши офисы:</div>
                    <div class="footer__contacts-offices-item">
                        <svg width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.6323 1.11328C17.4073 1.11328 22.0888 5.79478 22.0888 11.5698C22.0888 17.6101 18.688 20.9553 14.7963 24.7559L14.7908 24.7613C13.7763 25.752 12.7293 26.7746 11.7172 27.8774C10.7856 26.9049 9.82363 25.9845 8.8836 25.0851L8.87883 25.0805C4.81251 21.1897 1.17578 17.6832 1.17578 11.5698C1.17578 5.79478 5.85728 1.11328 11.6323 1.11328ZM11.6322 17.4518C14.8808 17.4518 17.5143 14.8183 17.5143 11.5697C17.5143 8.32103 14.8808 5.6875 11.6322 5.6875C8.38353 5.6875 5.75 8.32103 5.75 11.5697C5.75 14.8183 8.38353 17.4518 11.6322 17.4518Z" fill="#DBFF00" stroke="#DBFF00" />
                        </svg>
                        <div class="footer__contacts-offices-wrap">
                            <span>Москва</span>
                            <a><p>Рубцовская набережная, 3с1, этаж 10, офис 4А</p> <span>На карте</span></a>
                        </div>  
                    </div>
                    <div class="footer__contacts-offices-item">
                        <svg width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.6323 1.11328C17.4073 1.11328 22.0888 5.79478 22.0888 11.5698C22.0888 17.6101 18.688 20.9553 14.7963 24.7559L14.7908 24.7613C13.7763 25.752 12.7293 26.7746 11.7172 27.8774C10.7856 26.9049 9.82363 25.9845 8.8836 25.0851L8.87883 25.0805C4.81251 21.1897 1.17578 17.6832 1.17578 11.5698C1.17578 5.79478 5.85728 1.11328 11.6323 1.11328ZM11.6322 17.4518C14.8808 17.4518 17.5143 14.8183 17.5143 11.5697C17.5143 8.32103 14.8808 5.6875 11.6322 5.6875C8.38353 5.6875 5.75 8.32103 5.75 11.5697C5.75 14.8183 8.38353 17.4518 11.6322 17.4518Z" fill="#DBFF00" stroke="#DBFF00" />
                        </svg>
                        <div class="footer__contacts-offices-wrap">
                            <span>Ярославль</span>
                            <a><p>ул. Победы 38/27, офис 503</p> <span>На карте</span></a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
           <p>© 2007–2022 Текмэн</p>
           <div class="links">
                <a href="#">Все права защищены</a>
                <a href="#">Правовая информация</a>
           </div>
        </div>
    </div>
</footer>