RewriteEngine On

RewriteRule ^contacts$ /contacts.html [L]
RewriteRule ^services$ /services.html [L]
RewriteRule ^articles$ /articles.html [L]
RewriteRule ^projects$ /projects.html [L]
RewriteRule ^about$ /about.html [L]